<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
        backupGlobals="true"
        bootstrap="tests/header.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        strict="false"
        verbose="false">
    <testsuites>
        <testsuite name="all">
            <directory>tests/*</directory>
        </testsuite>
    </testsuites>
</phpunit>
